.root {-fx-background-image: url("Castle1.png");}

.two {-fx-background-image: url("Road2.png");}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

#login-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #115E7F;

}

#actiontarget {
    -fx-font-weight: bold;
    -fx-fill: WHITE;
}

.button {
    -fx-text: WHITE;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);
}